.forgetpassword{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgetpassword .container{
    width: 40%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgetpassword .container .key-icon{
    width: 100px;
}
.forgetpassword .container h1{
    font-weight: 600;
    text-align: center;
}
.forgetpassword .container p{
    font-size: 15px;
    text-align: center;
}
.forgetpassword .container Link{
    font-size: 15px;
    text-align: center;
}
.forgetpassword .form-input input[type=submit] {
    padding: 10px 20px;
    margin-top: 20px;
    width: 300px;
    font-size: 13px;
}


.forgetpassword .form-input label {
    color: #8a8a8a;
    font-family: 'Jost-Regular', sans serif;
    font-size: 12px;
}
   .forgetpassword .form-input input[type=email] {
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #8a8a8a;
    outline: none;
    font-size: 16px;
}
